@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Lora:ital,wght@1,600;1,700&family=Rubik+80s+Fade&family=Satisfy&family=Zen+Dots&display=swap");
:root {
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: rgba(168, 239, 255, 1);
  --c2: rgba(168, 239, 255, 0.1);
}

body {
  font-family: "IBM Plex Serif", serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: url("../assets/background.jpg");
  color: white;
  background-size: cover;
}

#headerContainer {
  font-family: "Lora", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
}

h1 {
  font-family: "Zen Dots", serif;
  color: antiquewhite;
}

h2 {
  font-family: "Zen Dots", serif;
  color: antiquewhite;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: rgba(132, 187, 255, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  animation: borderRadial var(--d) linear infinite forwards;
  width: 70%;
  margin-left: 12.5%;
  border-radius: 20px;
  padding: 20px;
  height: 93vh;
}

#aboutHeaderContainer {
  font-family: "Lora", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
}

#home-body-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
}
#home-body-container .box-container {
  display: inline;
}
#home-body-container .inner-box-container {
  display: flex;
  flex-direction: row;
  justify-self: space-between;
  align-items: stretch;
  width: 100%;
  gap: 80px;
  position: relative;
  top: 5%;
}
#home-body-container .inner-box-container a {
  position: relative;
  display: inline-block;
  border-radius: 20px;
  padding: 20px 0px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  width: 100%;
}
#home-body-container .inner-box-container a:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.3333333333));
}
#home-body-container .inner-box-container a:nth-child(1) {
  filter: hue-rotate(270deg);
}
#home-body-container .inner-box-container a:nth-child(2) {
  filter: hue-rotate(400deg);
}
#home-body-container .inner-box-container a:nth-child(3) {
  filter: hue-rotate(310deg);
}
#home-body-container .inner-box-container a:nth-child(4) {
  filter: hue-rotate(20deg);
}
#home-body-container .inner-box-container a span {
  position: absolute;
  display: block;
}
#home-body-container .inner-box-container a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
#home-body-container .inner-box-container a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
#home-body-container .inner-box-container a span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
#home-body-container .inner-box-container a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}
#home-body-container .inner-box-container .box-container {
  display: flex;
  position: relative;
  top: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 10px;
}
#home-body-container .inner-box-container .box-container p {
  font-size: 0.8rem;
  font-family: "Lora", serif;
}
#home-body-container .inner-box-container .box-container h3 {
  font-family: "Zen Dots", serif;
}

.pics {
  width: 200px;
  border-radius: 100px;
}

.aboutLogo {
  margin-top: 5%;
}

iframe {
  background: rgba(0, 36, 120, 0.753);
  padding: 9px;
  border: 12px outset rgba(224, 224, 224, 0.168627451);
  border-radius: 5px;
  width: 373.33px;
  height: 210px;
}

@media only screen and (max-width: 1007px) and (min-width: 641px) {
  iframe {
    height: 170px;
    width: 302px;
  }
  body {
    background-position: 50% 0%;
  }
  .container {
    margin-left: 10%;
  }
  #home-body-container .inner-box-container a {
    width: 70%;
    padding: 5px 0px;
    height: 180px;
  }
  #home-body-container .inner-box-container .box-container h3 {
    font-size: 14px;
    position: relative;
    right: 5px;
  }
  #home-body-container .inner-box-container .box-container p {
    font-size: 0.6rem;
    position: relative;
    right: 4px;
  }
}
@media only screen and (max-width: 640px) and (min-width: 400px) {
  .container {
    margin-left: 8%;
  }
  iframe {
    height: 100px;
    width: 180px;
  }
  body {
    background-position: 48% 0%;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 16px;
  }
  #aboutHeaderContainer p {
    font-size: 15px;
    word-spacing: 0.5px;
  }
  #home-body-container .inner-box-container {
    gap: 10px;
  }
  #home-body-container .inner-box-container a {
    width: 50%;
    padding: 5px 0px;
    height: 180px;
    letter-spacing: 0.5px;
    text-align: center;
  }
  #home-body-container .inner-box-container .box-container h3 {
    font-size: 12px;
    position: relative;
    right: 5px;
  }
  #home-body-container .inner-box-container .box-container p {
    font-size: 0.55rem;
    position: relative;
    right: 4px;
  }
}
@media only screen and (max-width: 399px) {
  iframe {
    height: 100px;
    width: 180px;
  }
  body {
    background-position: 48% 0%;
    background-size: 100% 100%;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 16px;
  }
  .container {
    margin-left: 5vw;
  }
  #aboutHeaderContainer p {
    font-size: 12px;
    word-spacing: 0.5px;
  }
  #home-body-container .inner-box-container {
    gap: 10px;
  }
  #home-body-container .inner-box-container a {
    width: 50%;
    padding: 5px 0px;
    height: 180px;
    letter-spacing: 0.5px;
    text-align: center;
  }
  #home-body-container .inner-box-container .box-container h3 {
    font-size: 12px;
    position: relative;
    right: 5px;
  }
  #home-body-container .inner-box-container .box-container p {
    font-size: 0.55rem;
    position: relative;
    right: 4px;
  }
}
.footer {
  text-align: center;
}
.footer .copywriteText {
  font-family: "Lora", serif;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.5882352941);
}
.footer a {
  text-decoration: none;
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
